<h1>Vendas Registradas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Comprador</th>
      <th>Item</th>
      <th>Preço unit.</th>
      <th>Quantidade</th>
      <th>Valor da Compra</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.purchaser_name %></td>
        <td><%= sale.item_description %></td>
        <td><%= number_to_currency sale.item_price %></td>
        <td><%= sale.purchase_count %></td>
        <td><%= number_to_currency sale.total_sum %></td>
      </tr>
    <% end %>
    <tr class="info">
      <td colspan="3"></td>
      <td class="text-right">TOTAL</td>
      <td><%= number_to_currency @sales.inject(0) { |sum, sale| sum + sale.total_sum } %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Vendas', new_sale_path, :class => 'btn btn-primary' %>

<%= link_to 'Ver todas suas vendas registradas', sales_path, :class => 'btn btn-primary' %>
